<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cscb</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/list_selection.js"></script>
</head> <!-- Basic formatting -->

<body>
    <div class="titleBox">


        <div class="homapage_title">
        <h1>Book Event</h1>
        </div> <!-- Subpage title -->
            <div id="list_menu">
            <button onclick="drop_menu()" class="drop_but">list</button>
                <div id="display_dropdown" class="dropdown_cont">
                <a class="dropList" href="./calendar">Calender</a>
                <a class="dropList" href="./ticket">Payment</a>
                <a class="dropList" href="./book">Book Event</a>
                </div>
            </div> <!-- Dropdown menu -->
                <%if(ses==0){%>
                    <button type="button" class="right_title"><a class="right_title" href="./account_creat">create account</a></button>
                    <button type="button" class="right_title"><a class="right_title" href="./login">login</a></button>
                    <button type="button" class="right_title"><a class="right_title" href="./">homepage</a></button>
                    <%}else{%>
                        <button type="button" class="right_title"><a class="right_title" href="./logout">logout</a></button>
                        <button type="button" class="right_title"><a class="right_title" href="./">homepage</a></button>
                        <button type="button" class="right_title"><a class="right_title" href="./pofileBooked">current booked</a></button>
                    <%}%>
    </div>

    <div class="event_menu">
        <div class="display">
            <div class="event_org">
                <h2>Event: <%=Event.firstName%></h2>
            </div> <!-- Title -->

            <div class="event">
            
            
                
                <ul class="row">Description: <%= Event.description%></ul>
                </div>
                <div class="event">
                <ul class="row">Date: <%= Event.date%></ul>
                </div>
                <div class="event"> 
                <ul class="row">Time:  <%= Event.lastName%></ul>
                </div>
                <div class="event">
                <ul class="row">Location: <%= Event.location%></ul>
                </div>
                <div class="event">
                <ul class="row">Email: <%= Event.phone%></ul>
                </div>
                <%if(ses==0){}else{ %>
                <div class="event">
                    <form action="/currentBook" method="post"> 
                        <input type="hidden" value="<%=Event.firstName%>" id="name" name="name">
                    <button type="submit">
                        Book Now
                    </button></form>
                 <% }  %>
                </div>
        
        </div>
    </div>
</body>
</html>
