<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cscb</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/list_selection.js"></script>
</head> <!-- Basic formatting -->

<body>
    <div class="titleBox">
<<<<<<< HEAD
        <div class="homapage_title">
        <h1>Event Planner</h1>
        </div>
        <div id="list_menu">
            <button onclick="drop_menu()" class="drop_but">list</button>
            <div id="display_dropdown" class="dropdown_cont">
                <a class="dropList" href="./calendar">Calendar</a>
                <a class="dropList" href="./book">Book Event</a>
            </div>

            <%if(ses==0){%>
            <button type="button" class="right_title"><a class="right_title" href="./account_creat">Create Account</a></button>
            <button type="button" class="right_title"><a class="right_title" href="./login">Login</a></button>
            <button type="button" class="right_title"><a class="right_title" href="./">Homepage</a></button>
            <%}else{%>
                <button type="button" class="right_title"><a class="right_title" href="./logout">Logout</a></button>
                <button type="button" class="right_title"><a class="right_title" href="./">Homepage</a></button>
                <button type="button" class="right_title"><a class="right_title" href="./pofileBooked">Currently Booked</a></button>
            <%}%>
=======


        <div class="homapage_title">
        <h1>Book Event</h1>
        </div> <!-- Subpage title -->
            <div id="list_menu">
            <button onclick="drop_menu()" class="drop_but">List</button>
                <div id="display_dropdown" class="dropdown_cont">
                <a class="dropList" href="./calendar">Calender</a>
                <a class="dropList" href="./ticket">Payment</a>
                <a class="dropList" href="./book">Book Event</a>
                </div>
            </div> <!-- Dropdown menu -->
                <%if(ses==0){%>
                    <button type="button" class="right_title"><a class="right_title" href="./account_creat">Create Account</a></button>
                    <button type="button" class="right_title"><a class="right_title" href="./login">Login</a></button>
                    <button type="button" class="right_title"><a class="right_title" href="./">Homepage</a></button>
                    <%}else{%>
                        <button type="button" class="right_title"><a class="right_title" href="./logout">Logout</a></button>
                        <button type="button" class="right_title"><a class="right_title" href="./">Homepage</a></button>
                        <button type="button" class="right_title"><a class="right_title" href="./pofileBooked">Currently Booked</a></button>
                    <%}%>
>>>>>>> f3a928cec08127d22d0b2743166dc616a82e63a3
    </div>

    <div class="event_menu">
        <div class="display">
            <div class="event_org">
                <h2>Event: <%=Event.firstName%></h2>
            </div> <!-- Title -->
            <div class="event">
            
            
                
                <ul class="row">Description: <%= Event.description%></ul>
                </div>
                <div class="event">
                <ul class="row">Date: <%= Event.date%></ul>
                </div>
                <div class="event"> 
                <ul class="row">Time:  <%= Event.lastName%></ul>
                </div>
                <div class="event">
                <ul class="row">Location: <%= Event.location%></ul>
                </div>
                <div class="event">
                <ul class="row">Email: <%= Event.phone%></ul>
                </div>
                <div class="event">
                    <ul class="row">paymentExist: <%= Event.paymentExist%></ul>
                    </div>
                <%if(ses==0){}else{ %>
                <div class="event">
                    <form action="/currentBook" method="post"> 
                        <input type="hidden" value="<%=Event.firstName%>" id="name" name="name">
                        <input type="hidden" value="<%=Event.paymentExist%>" id="paymentExist" name="paymentExist">
                    <button type="submit">
                        Book Now
                    </button></form>
                 <% }  %>
                </div>
        
        </div>
    </div>
</body>
</html>
